/* html adjustment */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	font-style: normal;
	
}


main {
	/* display: flex; */
		width: 70%;
		height: 90%;
		justify-content: center;
		margin-left: 25%;
		margin-right: 5%;
		animation: theme 21s linear infinite;
		/* margin-top: 25%; */
		/* &:before, */
}


/* body adjustment */
body {
  /* margin-top: 5%; */
  
  box-sizing: border-box;
	align-items: center;
/* padding-left: 10%; */
/* display: flex; */
	/* width: 90%; */
	height: 100%;
	justify-content: center;
	/* margin-left: 10%; */
	/* margin-right: 5%; */
    animation: theme 21s linear infinite;
    /* margin-top: 5px; */
    /* &:before, */
  }
  &:after {
        /* left: 15vw; */

        /* content: ''; */
        display: fieldset;
        position: fixed;
        z-index: -1;
        top: 0;
        /* width: 100vw;  // IE/Edge  */
        /* height: 100vh; // fallback  */
        /* width: 100vmax; */
        /* height: 100vmax; */
        /* background: rgba(0,0,0,0.05); */
        /* animation: background 90s linear infinite; */
	}


    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }


@keyframes theme {
    0% {
        background: #1b2e2248;
    }
    
    16% {
        background: #f7ca9062;
    }
    
    33% {
        background: #2347385e;
    }
    
    50% {
        background: hsl(280, 30%, 76%);
    }
    
    66% {
        background: #e6bcc5;
    }    
    
    83% {
        background: #6d6969;
    }

    100% {
        background: #b374c31c;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}


.contact-icons{
	
  /* display: flex; */
	width: 5%;
/* margin: 10; */
height: 5%;
	/* box-sizing: border-box; */

}
 /* @media screen and (max-width: 405px){
  .heading-name{
    width: 90% !important;
    display: flex;
   position: fixed; 
}  */

/* @media screen and (max-width: 100%){
  .sideBar{
    width: 100% !important;
    display: flex; 
    position: fixed; 

  } */


/* header adjustment */
a:hover{
	text-decoration: none;
}
.header-section{
	margin-top: -10px;
	position: fixed;
	 /* z-index: 9999999; */
	/* background:  hwb(0 4% 19% / 0.376); */
  animation: theme 21s linear infinite;
	width: 100%;
	height: 5.5rem;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	/* margin-left: 5%; */
	/* margin-right: 5%; */
	border-radius: 0px 0px 50px;
	/* border-bottom-left-radius: 20px; */
	/* border-bottom-right-radius: 20px; */
	/* border-top-right-radius: 0%; */
/* margin-left: 20%; */

}


/* element.style {
    height: 100%; */

.heading_link {
    font-weight: 300;
    font-size: 1rem;
}
/* .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
} */

/* .mx-auto .text-center .copyright{
  position: fixed;
  
} */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* padding-left: 0; */
    /* margin-bottom: 0; */
    /* list-style: none; */
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
* {
    font-family: 'Montserrat';
    font-style: normal;
}
*, ::after, ::before {
    box-sizing: border-box;
}






.header-list{
  /* margin-left: 50%; */
  /* margin-top: -5%; */
  /* color: #000000; */
  /* font-weight: 00; */
  /* font-size: 25px; */
  /* line-height: 40px; */
  /* width: 208px; */
  /* height: 49px; */
  margin-left: 25vw;
   /* margin-top: 0; */
  align-items: center;
  display: flex;
  justify-content: center;
  }





header ul li {
	cursor: pointer;
}

.header_sticky_content {
  padding: 16px;
}  

.header_sticky_sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgb(53, 243, 5) 0px 1px 2px 0px, rgb(215, 238, 7) 0px 1px 3px 1px;
} 

/* .header_sticky_sticky + .header_sticky_content {
  padding-top: 60px;
}  */

.heading-name{
	/* color: #000000; */
	/* font-weight: 00; */
	font-size: 25px;
	line-height: 40px;
	/* width: 208px; */
	/* height: 49px; */
	/* margin-left: 100%px; */
	 /* margin-top: 0; */
	align-items: center;
	display: flex;
	justify-content: center;
}







.heading_link{
	font-weight: 300;
	font-size: 1rem;

}

.heading_link a{
	/* color: #000000; */
	align-items: center;
	padding: 1rem;
}

.heading_link a:hover{
	color:#FF7A00;
}






/* button adjustment */


.contact-button{	
	/* align-items: center; */
	line-height: 30px;
	/* margin-left: 30%; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* box-sizing: border-box; */
	text-align: center;
	padding: center;

}
/* .contact-button a:hover{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} */

.contact-button a{
  
	/* font-weight: 500; */
	font-size:15px;
	/* padding: 15px 15px; */
	background: #f175009d;
	border-radius: 5px;
	text-align: right;
	/* line-height: 32px; */
	/* identical to box height */
	color: #c4ec11 !important	;
	cursor: pointer;
	text-decoration: none;
}

/* .contact-button-1 a{ */

	/* font-weight: 300; */
	/* font-size: 16px; */
	/* padding: 10px 20px; */
	/* background: #85e903b2; */
	/* border-radius: 90px; */
	/* text-align: right; */
	/* line-height: 32px; */
	/* identical to box height */
	/* color: #f00d0d !important	; */
	/* cursor: pointer; */
	/* text-decoration: none; */
}























.responsive_mobile_links ul li{
	padding: 6px;
}
.responsive_mobile_links{
	height: 100%;
}

.responsive_mobile_links ul li a{
	color: #ffffff;
	font-size: 1.1rem;

}
.responsive_mobile_links ul li a:hover{
	color:#FF7A00 ;
	text-decoration: none;
}




.contact-icons{
  display: flex;
  /* width: 20%; */
}






.hero-container {
    /* padding: 10px; */
    /* width: 70%; */
    margin-left: 20%;
    margin-right: 5%;
align-items: center;
    text-align: center;
	padding-top: 10%;
	/* margin-top: 90px; */
}


 .sideBar, [data-is="mediacenter"] .sideBar{
    position: fixed;
    /* left: 0px; */
    top: 11%;
    width: 20%;
	  height: 100%;
    animation: theme 20s linear infinite;
    /* overflow: auto; */
    background-color: hwb(0 4% 19% / 0.376);
    text-align: center;
	display: block;
}

/* .sideBar .menuBox { */
    /* float: left; */
    /* width: calc(100% - 30px); */
    /* padding: 30px 15px; */
}
.sideBar h3 {
    /* margin-left: ; */
}
 .sideBar *, [data-is="mediacenter"] .sideBar * {
    color: #FFF;
    width: 90%;

    
}



/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #e60a0a;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 5}
  }
  
  
  
  
















